[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "sh -c 'PYTHONPATH=./src python -m unittest discover -s test -p '*_test.py' -v'"
task = "sh -c 'PYTHONPATH=./src python -m command'"
e2e = "sh -c 'PYTHONPATH=./src python -m unittest discover -s test/e2e -p '*.py' -v'"
container = "docker build --tag ghcr.io/agile-learning-institute/stage0_runbook_ai_cli:latest ."
deploy = "sh -c 'docker run --rm -v $(pwd)/test/repo:/workspace/repo -v $(pwd)/test/context:/workspace/context ghcr.io/agile-learning-institute/stage0_runbook_ai_cli:latest'"
help = "sh -c 'echo \"Available commands: test, task, e2e, container, deploy\"'"

[packages]
pyyaml = "*"
requests = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
